<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>공급자 정보 조회</h3>
<hr>
<form th:action="@{/main16/sub4}">
    <label>
        ID
        <input type="number" name="id" th:value="${param.id}">
    </label>
    <button>조회</button>
</form>
<hr>
<div th:if="${supplier == null}">
    조회된 결과가 없습니다.
</div>
<div th:if="${supplier != null}" th:object="${supplier}">
    <div>
        <label>
            ID
            <input type="text" readonly th:value="*{id}">
        </label>
    </div>
    <div>
        <label>
            공급자명
            <input type="text" readonly th:value="*{name}">
        </label>
    </div>
    <div>
        <label>
            계약명
            <input type="text" readonly th:value="*{contactName}">
        </label>
    </div>
    <div>
        <label>
            주소
            <input type="text" readonly th:value="*{address}">
        </label>
    </div>
    <div>
        <label>
            도시
            <input type="text" readonly th:value="*{city}">
        </label>
    </div>
    <div>
        <label>
            우편번호
            <input type="text" readonly th:value="*{postalCode}">
        </label>
    </div>
    <div>
        <label>
            국가
            <input type="text" readonly th:value="*{country}">
        </label>
    </div>
    <div>
        <label>
            연락처
            <input type="text" readonly th:value="*{phone}">
        </label>
    </div>

    <div>
        <form method="post" th:action="@{/main16/sub4}">
            <input type="hidden" name="id" th:value="${supplier.id}">
            <button>삭제</button>
        </form>
    </div>
</div>
</body>
</html>