<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, tr, td {
            border-collapse: collapse;
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<h3>페이지별 고객 조회</h3>
<hr>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contact</th>
        <th>Addr</th>
        <th>City</th>
        <th>Postal</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cust : ${customerList}">
        <td th:text="${cust.id}"></td>
        <td th:text="${cust.name}"></td>
        <td th:text="${cust.contactName}"></td>
        <td th:text="${cust.address}"></td>
        <td th:text="${cust.city}"></td>
        <td th:text="${cust.postalCode}"></td>
        <td th:text="${cust.country}"></td>
    </tr>
    </tbody>
</table>
<div>
    <span th:each="num : ${#numbers.sequence(1, lastPage)}">
        <a th:href="@{/main15/sub1(page=${num})}"
           th:text="${num}"></a>
        |
    </span>
</div>
<!--/*
<div>
    <a th:href="@{/main15/sub1(page=1)}"></a>
    <a th:href="@{/main15/sub1(page=2)}"></a>
    <a th:href="@{/main15/sub1(page=3)}"></a>
    <a th:href="@{/main15/sub1(page=4)}"></a>
    <a th:href="@{/main15/sub1(page=5)}"></a>
</div>
*/-->

</body>
</html>