<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td, tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h3>데이터 타입별 입력 practice</h3>
<form th:action="@{/main17/sub7}" method="post">
    <div>
        <input type="text" placeholder="텍스트" name="name">
    </div>
    <div>
        <input type="date" placeholder="날짜" name="birthDate">
    </div>
    <div>
        <input type="number" placeholder="소숫점2자리" name="score" step="0.01">
    </div>
    <div>
        <input type="datetime-local" placeholder="날짜 시간" name="bornAt">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<hr>

<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>생일</th>
        <th>점수</th>
        <th>일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${list}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.birthDate}"></td>
        <td th:text="${item.score}"></td>
        <td th:text="${item.bornAt}"></td>
    </tr>
    </tr>
    </tbody>
</table>
</body>
</html>