<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${aiList[0].name}">Lorem.</h1>
<h1 th:text="${aiList[0].birthDate}">Excepturi?</h1>
<h1 th:text="${aiList[0].price}">Quam.</h1>
<h1 th:text="${aiList[1].name}">Perspiciatis.</h1>
<h1 th:text="${aiList[1].birthDate}">Error!</h1>
<h1 th:text="${aiList[1].price}">Dolores?</h1>
<h1 th:text="${aiList[2].name}">Aliquid.</h1>
<h1 th:text="${aiList[2].birthDate}">Explicabo?</h1>
<h1 th:text="${aiList[2].price}">Hic.</h1>
</body>
</html>