<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${people[0].model}">Lorem.</h1>
<h1 th:text="${people[0].age}">Optio!</h1>
<h1 th:text="${people[0].married}">Mollitia?</h1>
<h1 th:text="${people[1].model}">Dolores.</h1>
<h1 th:text="${people[1].age}">Fugiat!</h1>
<h1 th:text="${people[1].married}">Aliquam!</h1>
<h1 th:text="${people[2].model}">Assumenda.</h1>
<h1 th:text="${people[2].age}">Laborum?</h1>
<h1 th:text="${people[2].married}">Consectetur?</h1>
</body>
</html>