<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>/main10/sub3 </h3>
<form action="/main10/sub3" method="get">
  <input type="text" name="keyword" value="대통령">

  <input type="submit" value="전송">
</form>
<hr>
<form action="/main10/sub3" method="post">
  <input type="text" name="address" value="서울">

  <input type="submit" value="전송">
</form>

<hr>
<hr>

<form action="/main10/sub4" method="get">
  <input type="text" name="email" value="gmail">

  <input type="submit" value="전송">
</form>
<hr>
<form action="/main10/sub4" method="post">
  <input type="text" name="email" value="yahoo">

  <input type="submit" value="전송">
</form>


</body>
</html>