<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>고객 목록</h3>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>CONTACT</th>
    <th>ADDRESS</th>
    <th>CITY</th>
    <th>POST</th>
    <th>COUNTRY</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="customer : ${customerList}">
    <td th:text="${customer.id}"></td>
    <td th:text="${customer.name}"></td>
    <td th:text="${customer.contactName}"></td>
    <td th:text="${customer.address}"></td>
    <td th:text="${customer.city}"></td>
    <td th:text="${customer.postalCode}"></td>
    <td th:text="${customer.country}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>