<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- no-operation token (no-op)  _  : 아무 연산안함(없음) -->
<h1>Lorem ipsum dolor.</h1>
<h1 th:text="${name}">Lorem ipsum dolor.</h1>
<h1 th:text="_">Lorem ipsum dolor.</h1>
<h1 th:text="${name} ?: _">이름 없음</h1>
<!-- 값이 null 이지만 no-op에 의해 ?: 연산 동작 하지않음 -->
<h1 th:text="${city} ?: _">회사 없음</h1>

<hr>

<!-- th:if : true이면 -->
<!-- th:unless : false이면-->
<!-- married=false, working=true -->
<h1 th:if="${married}">Lorem.</h1>
<h1 th:if="${!married}">Ad.</h1>
<h1 th:unless="${married}">Beatae.</h1>
<h1 th:unless="${working}">Ex.</h1>

<h1>
    <span th:if="${name == null}">이름 없음</span>
    <span th:unless="${name == null}" th:text="${name}"></span>
</h1>
<h1>
    <span th:if="${city == null}">주소 없음</span>
    <span th:unless="${city == null}" th:text="${city}"></span>
</h1>

<hr>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>무게</th>
        <th>이름</th>
        <th>결혼</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="std : ${students}">
<!--
        <td>[[${std.studentNumber}]]</td>
        <td>[[${std.weight}]]</td>
        <td>[[${std.info}]]</td>
        <td th:if="${std.married}">❤️</td>
        <td th:unless="${std.married}">💔</td>
-->
<!--        -->
        <th:block th:object="${std}">
            <td th:text="*{studentNumber}"></td>
            <td th:text="*{weight}"></td>
            <td th:text="*{info}"></td>
            <td>
                <span th:if="*{married}">❤️</span>
                <span th:unless="*{married}">💔</span>
                <span></span>
            </td>
        </th:block>
<!--        -->
    </tr>
    </tbody>
</table>

</body>
</html>